.profile__add-btn {
  min-width: 150px;
  min-height: 50px;
  background-image: url('../../../images/icons/add-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 0;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .profile__add-btn {
    min-width: 282px;
    margin-top: 36px;
    background-size: 16px 16px;
  }
}
