.header {
  width: 100%;
  box-sizing: border-box;
  padding: 45px 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  flex: 1;
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 28px;
  }
}
