.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px; /* or 114% */
}

@media screen and (max-width: 500px) {
  .profile__name {
    margin-top: 22px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
