.popup__form-field {
  padding: 0 0 9px;
  margin: 15px 0 0;
  border: 0;
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__form-field:first-of-type {
  margin: 0;
}

.popup__form-field::placeholder {
  color: #C4C4C4;
}

.popup__form-field_type_error {
  border-bottom: 1px solid #FF0000;
}

.popup__span-message {
  display: block;
  min-height: 15px;
}

.popup__span-message_active {
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media screen and (max-width: 500px) {
  .popup__form-field {
    max-width: 238px;
  }
}
