.popup__close-btn {
  background-color: transparent;
  border: 0;
  padding: 0 0 8px 8px;
  align-self: flex-end;
  line-height: 0;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .popup__close-btn {
    padding: 0 0 16px 0;
  }
}
