/* Подключаем файл normalize.css */
@import url('../vendor/normalize.css');

/* Подключаем шрифты */
@import url('../vendor/fonts/fonts.css');

.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: #000;
  color: #FFF;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 45px 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__logo {
  max-width: 142px;
  padding-bottom: 41px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 47px;
}

.profile__data {
  display: flex;
  align-items: center;
}

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px; /* or 114% */
}

.profile__name-subtitle {
  margin: 0;
  padding-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-btn {
  text-decoration: none;
  align-self: center;
  padding-left: 18px;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__add-btn {
  text-decoration: none;
  min-width: 150px;
  min-height: 50px;
  background-image: url('../images/add-btn.png');
  background-repeat: no-repeat;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

.elements {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  gap: 20px 17px;
}

.element {
  background-color: #FFFFFF;
  background-size: 282px 361px;
  border-radius: 10px;
}

.element__img {
  border-radius: 10px 10px 0 0;
  display: block;
}

.element__text {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__info {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
}

.element__like-btn {
  border: 0 none;
  background-color: transparent;
  padding: 0;
}

.element__like-btn:hover {
  opacity: .5;
}

.element__like-icon {
  display: block;
  width: 22px;
  fill: none;
  stroke: #000;
  stroke-width: 1.5;
}

.element__like-icon:active {
  fill: black;
}

.element__like-icon_active {
  fill: black;
}

.footer {
  display: flex;
  padding: 67px 0 60px;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup_opened {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  width: calc(430px + (32px + 8px));
  display: flex;
  flex-direction: column;
}

.popup__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  box-sizing: border-box;
  padding: 0 36px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.popup__input-container {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.popup__heading {
  margin: 34px 0 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.popup__form-field {
  padding: 0 0 13px;
  margin: 0 0 30px;
  border: 0;
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__form-field:last-of-type {
  margin: 0;
}

.popup__submit-btn {
  color: #FFFFFF;
  background-color: #000000;
  border-width: 0;
  padding: 0;
  margin: 48px 0 37px;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

.popup__close-btn {
  background-color: transparent;
  border: 0;
  padding: 0 0 8px 8px;
  align-self: flex-end;
  line-height: 0;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .header__logo {
    padding-left: 27px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__add-btn {
    min-width: 282px;
    margin-top: 36px;
    background-image: url('../images/add-btn_large.png');
  }

  .footer {
    padding-left: 17px;
  }
}


@media screen and (max-width: 500px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    max-width: 104px;
    padding-bottom: 32px;
  }

  .profile {
    padding: 38px 0 36px;
  }

  .profile__info {
    padding-left: 0;
  }

  .profile__data {
    flex-direction: column;
  }

  .profile__name {
    margin-top: 22px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }

  .profile__name-subtitle {
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__edit-btn {
    padding-left: 10px;
  }

  .profile__edit-btn-img {
      max-width: 18px;
    }

  .footer {
    padding: 48px 17px 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__container {
    max-width: 282px;
  }

  .popup__heading {
    margin: 25px 0 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .popup__form {
    padding: 0 22px;
    max-width: 282px;
  }

  .popup__form-field {
    max-width: 238px;
  }

  .popup__submit-btn {
    margin: 45px 0 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }

  .popup__close-icon {
    width: 20px;

  }

  .popup__close-btn {
    padding: 0 0 16px 0;
  }
}
