.profile__job {
  margin: 0;
  padding-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 500px) {
  .profile__job {
    padding-top: 8px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
